<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <nav>
            <a href="{% url 'portfolio-home' %}">Sobre</a>
            <a href="{% url 'portfolio-cursos' %}">Cursos</a>
            <a href="{% url 'portfolio-unidades-curriculares' %}">Unidades Curriculares</a>
            <a href="{% url 'portfolio-projetos' %}">Projetos</a>
            <a href="{% url 'portfolio-tecnologias' %}">Tecnologias</a>
            <a href="{% url 'portfolio-competencias' %}">Competências</a>
            <a href="{% url 'portfolio-formacoes' %}">Formações</a>
            <a href="{% url 'portfolio-making-of' %}">Making Of</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
